.html {
	height: 100%; 
} 

.body {
	position: relative;
	font-size: 16px; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(51,51,51); 
	background-color: rgba(255, 255, 255, 0.0); 
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
	padding: 0; 
}

.main {
	height: auto; 
	min-height: 100%; 
	width: 80%; 
	margin: 0 auto; 
	padding: 0; 
	background-color: rgb(246, 246, 246); 
	box-shadow: 3px 7px 7px 9px rgba(0,0,0,0.17);
	transition: top 1s ease-in-out; 
}


.button {
	height: 40px; 
	width: 138px; 
	border-radius: 5px; 
	background-image: linear-gradient(to bottom, rgb(0, 197, 170), rgb(0, 137, 110)); 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1em;
	color: rgb(255,255,255); 
	text-align: center; 
	margin: 0 10px; 
	padding: 0 0 2px 0; 
	border: 1.3px solid rgb(240, 240, 240);
}

.button:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	background-image: linear-gradient(to bottom, rgb(0, 187, 160), rgb(0, 117, 100));
	cursor: pointer;
	border: 1.3px solid rgb(50, 150, 130);
}

.button:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
}

.button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	background-image: linear-gradient(to bottom, rgb(0, 177, 150), rgb(0, 97, 70));
	border: 1.3px solid rgb(50, 150, 130);
	border-top: 1.3px solid rgb(40, 40, 40); 
	border-left: 1.3px solid rgb(50, 50, 50); 
}


.landing-page {
	width: 100%; 
	height: 100%; 
	padding: 0; 
	margin: 0; 
	transition: top 1s ease-in-out; 
	transition: all 1s ease-in-out; 
} 

.landing-page_parallax_1 {
	position: relative; 
	height: 100%;
	background-color: rgba(255, 255, 255, 1.0); 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 20px; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
} 

.landing-page_carousel {
	position: absolute; 
	z-index: 90; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%; 
	padding: 0; 
	margin: 0; 
	overflow: hidden; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.landing-page_slides {
	position: absolute;
	z-index: 80;
	height: 100%; 
	width: 100%; 
	display: block;
	margin: auto;
	opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.landing-page_slide_showing {
	position: absolute;
	z-index: 90;
	opacity: 1;
}

.landing-page_carousel_image1 {
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%;
	width: 100%; 
	background-image: url(../images/Landing_page/postage_stamps_2.jpg); 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.landing-page_carousel_image2 {
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%;
	width: 100%; 
	background-image: url(../images/Landing_page/vintage_radios.jpg); 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.landing-page_carousel_image3 {
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%;
	width: 100%; 
	background-image: url(../images/Landing_page/old_books.jpg); 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.landing-page_left-scroll {
	position: relative; 
	z-index: 100;
	width: 10%; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center; 
} 

.landing-page_left-scroll_button {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	padding: 0; 
	margin: auto; 
	width: 44px; 
	height: 44px; 
	border-radius: 5px; 
	background-color: rgba(255, 255, 255, 0.4); 
	background-repeat: no-repeat; 
	background-position: center;
	background-image: url(../images/Arrows/single_left_large_inact.png); 
} 

.landing-page_left-scroll_button:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	background-image: url(../images/Arrows/single_left_large_act.png); 
} 

.landing-page_left-scroll_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	border-top: 2.0px solid rgb(70, 70, 70);
	border-left: 1.9px solid rgb(100, 100, 100); 
	background-image: url(../images/Arrows/single_left_large_act.png); 
} 

.landing-page_information {
	position: relative; 
	z-index: 100;
	height: 60%; 
	width: 80%; 
} 

.landing-page_logo {
	width: 300px; 
	height: auto; 
	text-align: right; 
	font-size: 68px;
	padding: 0; 
	margin: 20px auto 20px 20px; 
	color: rgb(252,138,21); 
	line-height: 0.9em;
	border: 4px solid rgb(0, 197, 170); 
	border-radius: 20px; 
    font-family: 'Berkshire Swash', cursive;
}

.lpl_1 {
	text-align: left; 
}

.lpl_2 {
	text-align: right; 
}

.landing-page_button-container {
	margin: 20% auto auto auto; 
	text-align: center;
}

.landing-page_button {
	text-transform: uppercase; 
	width: 45%; 
	min-width: 300px; 
	height: auto; 
	min-height: 70px; 
	font-size: 1.6em;
	font-weight: bold; 
	color: rgb(40, 40, 40); 
	background-image: linear-gradient(to bottom, rgb(212, 98, 41), rgb(255, 178, 61)); 
	border-radius: 10px; 
} 

.landing-page_button:hover {
	background-image: linear-gradient(to bottom, rgb(0, 207, 180), rgb(0, 137, 120));
	color: rgb(20, 20, 20); 
}

.landing-page_button:active {
	background-image: linear-gradient(to bottom, rgb(0, 197, 170), rgb(0, 97, 70));
	color: rgb(0, 0, 0); 
	border: 1.5px solid rgb(40, 140, 120);
	border-top: 1.8px solid rgb(30, 30, 30); 
	border-left: 1.8px solid rgb(40, 40, 40); 
}

.landing-page_right-scroll {
	position: relative; 
	z-index: 100;
	width: 10%; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center; 
} 

.landing-page_right-scroll_button {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	padding: 0; 
	margin: auto; 
	width: 44px; 
	height: 44px; 
	border-radius: 5px; 
	background-color: rgba(255, 255, 255, 0.4); 
	background-repeat: no-repeat; 
	background-position: center;
	background-image: url(../images/Arrows/single_right_large_inact.png); 
} 

.landing-page_right-scroll_button:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	background-image: url(../images/Arrows/single_right_large_act.png); 
} 

.landing-page_right-scroll_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	border-top: 2.0px solid rgb(70, 70, 70);
	border-left: 1.9px solid rgb(100, 100, 100); 
	background-image: url(../images/Arrows/single_right_large_act.png);
} 

.landing-page_parallax_2 {
	background-image: url(../images/Landing_page/postage_stamps_1.jpg); 
	height: 100%;
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

.landing-page_parallax_3 {
	background-image: url(../images/Landing_page/coins_2.jpg); 
	height: 100%; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

.landing-page_separation-block {
	width: 100%; 
	height: 100px; 
	background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(160, 160, 160)); 
	border-top: 1px solid rgb(110, 110, 110); 
	border-bottom: 1px solid rgb(110, 110, 110); 
	box-shadow: inset 5px 5px 10px 1px rgba(80,80,80,1);
}


.header {
	position: relative; 
	width: 100%; 
	height: auto; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 
	transition: top 1s ease-in-out; 
}

.header_navigation {
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: flex-end; 
	-ms-justify-content: flex-end; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	height: auto; 
	width: auto; 
	padding: 0; 
	margin: auto 0 3px auto; 
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
}

.header_button {
 	height: 30px; 
	width: 100px; 
	text-align: center; 
	margin: 0; 
	padding: 0 1px 0 1px; 
	box-sizing: border-box; 
	color: black;
	font-size: 0.9em; 
	border: none; 
	background-color: rgb(255, 255, 255);
} 

.header_button:hover {
	border-left: 1px solid rgb(160, 160, 160); 
	border-right: 1px solid rgb(160, 160, 160); 
	padding:0;
	background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(210, 210, 210)); 
	cursor: pointer; 
} 

.header_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	border-left: 1px solid rgb(90, 90, 90); 
	border-top: 1px solid rgb(120, 120, 120); 
	border-right: 1px solid rgb(160, 160, 160); 
	padding:0;
	background-image: linear-gradient(to bottom right, rgb(230, 230, 230), rgb(150, 150, 150)); 
}

.header_button:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
}

.header_search { 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: center;
	-ms-align-items: center; 
	height: auto; 
	width: 100%; 
	padding: 0; 
	margin: auto 0; 
	border-bottom: 1.8px solid rgb(252,138,21); 
}

.header_logo {
	height: auto; 
	width: 120px; 
	text-align: right; 
	font-size: 38px;
	padding: 0; 
	margin: 20px auto 20px 20px; 
	color: rgb(252,138,21); 
	line-height: 0.9em;
    font-family: 'Berkshire Swash', cursive;
} 

.header_search_form {
	height: 100%; 
	width: 100%;
	display: flex; 
	display: -ms-flex; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: center;
	-ms-align-items: center; 
	margin: 0; 
	padding: 0; 
}

.header_search_text-field {
	outline: none; 
	height: 38px; 
	width: 100%;
	text-align: left; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px 1px 1px 3px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 20px 0 20px 10%;
	padding: 0 0 0 8px;
} 

.header_search_text-field:focus {
	outline: none; 
	border-color: rgb(30, 30, 30); 
}

.header_search_options {
	outline: none; 
	height: 40px; 
	width: 40%; 
	border: 1px solid rgb(221, 221, 221); 
	border-left-color: rgb(239, 239, 239);
	background-color: rgb(255, 255, 255); 
	border-radius: 1px 3px 3px 1px;
	font-size: 1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	text-align: left; 
	color: rgb(51,51,51); 
	margin: 20px 5px 20px 0;
	padding: 0 0 0 8px;
} 

.header_search_options:hover {
	outline: none; 
	cursor: pointer;
}

.header_search_options:focus {
	border-color: rgb(30, 30, 30); 
	border-left-color: rgb(239, 239, 239); 
}


.main-page {
	width: 100%; 
	height: auto; 
	min-height: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 
	transition: top 1s ease-in-out; 
} 


.main-page_lots-groups {
	height: 50px; 
	width: 90%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: stretch; 
	-ms-align-content: stretch;
	background-color: rgb(230, 230, 230);
	margin: 30px 0 0 auto; 
	padding: 0; 
	text-transform: uppercase; 
}

.main-page_lots-groups_button {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	background-color: rgb(230, 230, 230);
	height: 100%; 
	width: 16.66667%;
	margin: 0; 
	padding: 4px 0 0 0;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	text-transform: uppercase; 
	color: rgb(60,60,60);
	text-align: center; 
} 

.main-page_lots-groups_button:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	background-color: rgb(246, 246, 246); 
	color: rgb(20,20,20);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
	cursor: pointer;
} 

.main-page_lots-groups_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	padding: 0; 
	background-color: rgb(246, 246, 246); 
	color: rgb(0,0,0);
	box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.25); 
	border-top: 4px solid rgb(0, 177, 150); 
	background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(230, 230, 230)); 
}

.main-page_lots-groups_button:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
} 

.lots-groups_current-selected {
	background-color: rgb(246, 246, 246); 
	border-top: 4px solid rgb(30, 228, 148); 
	color: rgb(0,0,0);
	padding: 4px 0 0 0;
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
	cursor: none; 
}

.lots-groups_current-selected :hover {
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
	cursor: none;
	padding: 4px 0 0 0;
	border-top: 4px solid rgb(30, 228, 148); 
} 

.lots-groups_current-selected:active {
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
	border-top: 4px solid rgb(30, 228, 148); 
	background-image: none; 
	padding: 4px 0 0 0;
}


.filters-list {
	position: fixed; 
	top: 50%; 
	transform: translate(0, -50%); 
	border-top: 2px solid rgb(0, 137, 110); 
	border-right: 2px solid rgb(0, 137, 110); 
	border-bottom: 2px solid rgb(0, 137, 110); 
	border-radius: 0 6px 6px 0; 
	background-color: rgb(255, 255, 255); 
	height: auto; 
	width: 270px; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center; 
	z-index: 10; 
	transition: left 1s; 
}

.filters-list_closed {
	left: -220px;
}

.filters-list_open {
	left: 0;
}

.filters-list_filters {
	margin: 0;
	padding: 10px;  
	width: 198px; 
	border-right: 1px solid rgb(90, 90, 90); 
	font-size: 1.0em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
} 

.filters-list_open-close-switch {
	height: auto; 
	width: 49px; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center; 
} 

.filters-list_button {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	padding: 0; 
	margin: auto; 
	width: 44px; 
	height: 44px; 
	border-radius: 5px; 
	background-color: rgba(190, 190, 190, 0.8); 
} 

.filters-list_button_open {
	background-repeat: no-repeat; 
	background-position: center;
	background-image: url(../images/Arrows/double_right_large_inact.png);
}

.filters-list_button_close {
	background-repeat: no-repeat; 
	background-position: center;
	background-image: url(../images/Arrows/double_left_large_inact.png);
}

.filters-list_button_open:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	background-image: url(../images/Arrows/double_right_large_act.png); 
} 

.filters-list_button_close:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	background-image: url(../images/Arrows/double_left_large_act.png); 
} 

.filters-list_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
} 

.filters-list_button:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
}

.filters-list_headings {
	margin: 5px auto; 
	font-weight: bold; 
	font-size: 1.1em; 
}

.checkbox_label:before {
	content: "\2610"; 
} 

.checkbox_label:hover {
	color: rgb(139, 69, 19); 
	cursor: pointer; 
}

.filters-list_checkbox:checked + .checkbox_label:before {
	content: "\2611"; 
	font-weight: bold; 
} 

.filters-list_checkbox:checked + .checkbox_label {
	content: "\2611"; 
	font-weight: bold; 
} 

.filters-list_checkbox:checked + .checkbox_label:hover {
	content: "\2611"; 
	font-weight: bold; 
	color: rgb(0, 0, 0); 
} 

.filters-list_age {
	border-top: 1px solid rgb(90, 90, 90); 
	border-bottom: 1px solid rgb(90, 90, 90); 
}


.main-page_lots-preview {
	background-color: rgb(246, 246, 246);
	height: auto; 
	min-height: 100%; 
	width: 100%;
	padding: 0; 
	margin: 0 auto; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: stretch;
	-ms-align-items: stretch; 
	align-content: space-between; 
}


.main-page_lot {
	width: 450px; 
	height: 300px; 
	margin: 20px; 
	padding: 0 0 0 5px; 
	background-color: rgb(255, 255, 255); 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: flex-start; 
	-ms-align-content: flex-start;
	border-right: 1px solid rgb(190, 190, 190); 
	border-left: 1px solid rgb(190, 190, 190); 
}

.main-page_lot:hover {
	padding: 0 0 0 1px; 
	border-left: 5px solid rgb(0, 147, 120); 
}

.main-page_lot_image-window {
	padding: 1px; 
	margin: 0 15px 0 5px; 
}

.main-page_lot_image-window:hover {
	padding: 0; 
	border: 1px solid rgb(220, 220, 220); 
	border-radius: 3px; 
}

.main-page_lot-image {
	margin: auto;
	padding: 0; 
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
	text-align: center;
}

.main-page_lot-information {
	padding: 0; 
	margin: 0 5px 0 0; 
	vertical-align: top; 
}

.main-page_lot-information_description {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
}

.main-page_lot_miscellaneous-text {
	padding: 0; 
	margin: 5px 0; 	
}

.main-page_lot_starting-price {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
}

.main-page_lot_timer {
	padding: 0; 
	margin: 5px 0; 
	line-height: 2.2em; 
	height: 40px; 
	width: 140px; 
	text-align: center; 
	font-size: 1.2em; 
	font-weight: bold; 
	color: rgb(252,138,21); 
	border: 1px solid rgb(50,50,50); 
	border-radius: 3px; 
}

.main-page_lot_place-a-bet {
	padding: 0; 
	margin: 0; 
	width: 40px;
}

.main-page_lot_enter-price {
	height: 38px; 
	width: 140px;
	text-align: left; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 0 5px 5px 0;
	padding: 0 0 0 8px;	
} 

.main-page_lot_enter-price:focus {
	border-color: rgb(30, 30, 30); 
}

.button_place-a-bet {
	margin: auto 0 auto auto; 
}

.content-preview-pages {
	padding: 0; 
	margin: 10px; 
	width: 100%; 
	height: auto; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	-ms-justify-content: flex-start; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
} 

.content-preview-page {
	margin: 0 5px; 
	width: 30px; 
	height: 30px; 
	color: rgb(0, 0, 205); 
	font-size: 1.2em; 
	text-align: center; 
	background: none; 
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
}

.content-preview-page:hover {
	cursor: pointer; 
	background-color: rgb(190, 190, 190); 
	text-decoration: underline; 
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
}

.content-preview-page:active {
	background-color: rgb(150, 150, 150); 
	text-decoration: underline; 
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
}


.sign-in {
	padding: 0; 
	margin: 0; 
	width: 100%; 
	height: 100%; 
}

.page_blur {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	min-width: 100%; 
	height: 100%; 
	min-height: 100%; 
	background-color: rgb(210, 210, 210); 
	opacity: 0.5;
}

.sign-in_form {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
} 

.sign-in_form_navigation {
	height: 50px; 
	width: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: stretch; 
	-ms-align-content: stretch;
	background-color: rgb(230, 230, 230);
	margin: 0 0 30px 0; 
	padding: 0; 
	text-transform: uppercase; 
} 

.sign-in_form_navigation_enter {
	box-sizing: border-box; 
	height: 100%; 
	width: 49.999%;
	margin: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	text-align: center; 
	text-transform: uppercase; 
	background-color: rgb(246, 246, 246); 
	border-top: 4px solid rgb(30, 228, 148); 
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
}

.sign-in_form_navigation_register {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	background-color: rgb(230, 230, 230);
	height: 100%; 
	width: 49.999%;
	margin: 0; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	color: rgb(51,51,51);
	text-align: center; 
	text-transform: uppercase; 
} 

.sign-in_form_navigation_register:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	background-color: rgb(246, 246, 246); 
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
	cursor: pointer;
} 

.sign-in_form_navigation_register:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
} 

.sign-in_form_navigation_register:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
} 

.sign-in_form-field {
	margin: 10px; 
	padding: 0; 
	width: 380px; 
	height: 200px;
}

.sign-in_form_login, .sign-in_form_password {
	height: 38px; 
	width: 100%;
	text-align: left; 
	box-sizing: border-box; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 0 0 30px 0;
	padding: 0 0 0 8px;
}

.sign-in_form_button_wraper {
	margin: 0 0 30px 0;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.sign-in_form_button {
	margin: 10px; 
	width: 45%; 
} 

.user-sign-in-issue {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
}

.sign-in_message_wraper {
	margin: 20px 10px; 
	border: 1.5px solid rgb(232, 118, 21);
	border-radius: 6px; 
	width: auto; 
	min-width: 80% ;
	min-height: 50%; 
	max-height: 50%; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.sign-in_message {
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.4em; 
	text-align: center; 
	font-weight: bold; 
	color: rgb(50, 50, 50); 
}

.sign-in_message_button_wraper {
	margin: auto 0 10px 0;
	min-height: 30%;
	max-height: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: flex-end; 
	-ms-align-content: flex-end;
}

.sign-in_message-button {
	margin: 10px; 
	width: 45%; 
}

.cancel-button {
	margin: 10px;
	width: 45%; 
}


.register {
	padding: 0; 
	margin: 0; 
	width: 100%; 
	height: 100%; 
}

.register_form {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
} 

.register_form_navigation {
	height: 50px; 
	width: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: stretch; 
	-ms-align-content: stretch;
	background-color: rgb(230, 230, 230);
	margin: 0 0 20px 0; 
	padding: 0; 
	text-transform: uppercase; 
} 

.register_form_navigation_register {
	box-sizing: border-box; 
	height: 100%; 
	width: 49.999%;
	margin: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	text-align: center; 
	background-color: rgb(246, 246, 246); 
	border-top: 4px solid rgb(30, 228, 148); 
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
}

.register_form_navigation_sign-in {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
	box-sizing: border-box; 
	background-color: rgb(230, 230, 230);
	height: 100%; 
	width: 49.999%;
	margin: 0; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	color: rgb(51,51,51);
	text-align: center; 
	text-transform: uppercase; 
} 

.register_form_navigation_sign-in:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	background-color: rgb(246, 246, 246); 
	color: rgb(0,0,0);
	box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15); 
	cursor: pointer;
} 

.register_form_navigation_sign-in:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
} 

.register_form_navigation_sign-in:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
} 

.register_form-field {
	margin: 10px; 
	padding: 0; 
	width: 380px; 
	height: 200px;
}

.register_form_login, 
.register_form_e-mail, 
.register_form_password {
	height: 38px; 
	width: 100%;
	text-align: left; 
	box-sizing: border-box; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 0 0 10px 0;
	padding: 0 0 0 8px;
}

.register_form_button_wraper {
	margin: 0 0 20px 0;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.register_form_button {
	margin: 10px; 
	width: 45%; 
}

.user-register-issue {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
}

.register_message_wraper {
	margin: 20px 10px; 
	border: 1.5px solid rgb(232, 118, 21);
	border-radius: 6px; 
	width: auto; 
	min-width: 80% ;
	min-height: 50%; 
	max-height: 50%; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.register_message {
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.4em; 
	text-align: center; 
	font-weight: bold; 
	color: rgb(50, 50, 50); 
}

.register_message_button_wraper {
	margin: auto 0 10px 0;
	min-height: 30%;
	max-height: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: flex-end; 
	-ms-align-content: flex-end;
}

.register_message-button {
	margin: 10px; 
	width: 45%; 
}

.user-issues {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
} 

.user-issues_message_wraper {
	margin: 20px 10px; 
	border: 1.5px solid rgb(232, 118, 21);
	border-radius: 6px; 
	width: auto; 
	min-width: 80% ;
	min-height: 50%; 
	max-height: 50%; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.user-issues_message {
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.4em; 
	text-align: center; 
	font-weight: bold; 
	color: rgb(50, 50, 50); 
}

.user-issues_button_wraper {
	margin: auto 0 10px 0;
	min-height: 30%;
	max-height: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: flex-end; 
	-ms-align-content: flex-end;
}


.contacts {
	width: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 
} 

.breadcrumbs {
	margin: 20px; 
	padding: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: flex-start; 
	-ms-justify-content: flex-start; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.breadcrumbs_button {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	border: 0; 
	width: auto; 
	margin: 0 5px; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1em;
	text-align: center; 
	color: rgb(40, 40, 40); 
	background-color: rgb(246, 246, 246); 
}

.breadcrumbs_button:hover {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	border: none; 
	color: rgb(0, 0, 0); 
	cursor: pointer;
}

.breadcrumbs_button:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none;
	border: none; 
}

.breadcrumbs_button:active {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	border: none; 
}

.breadcrumbs_arrow {
	width: 0; 
	height: 0; 
	margin: 0 5px; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid rgb(40, 40, 40);
}

.breadcrumbs_current {
	width: auto; 
	margin: 0 5px; 
	padding: 0; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1em;
	text-align: center; 
	color: rgb(90, 90, 90); 
	text-decoration: underline; 
}

.map_contacts_block {
	margin: 20px; 
	padding: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: center; 
	-ms-align-content: center;
}


.user-profile {
	width: 100%; 
	height: auto; 
	min-height: 100%;  
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 
}

.user-profile_lots, 
.user-profile_history, 
.user-profile_bets {
	margin: 20px; 
	border-bottom: 2px solid rgb(140, 140, 140); 
}

.user-profile_lots-list, 
.user-profile_history-list, 
.user-profile_bets-list {
	background-color: rgb(246, 246, 246);
	height: auto; 
	width: 100%;
	padding: 0; 
	margin: 0 auto; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: stretch;
	-ms-align-items: stretch; 
	align-content: space-between;  
}


.lot-page {
	width: 100%; 
	height: auto; 
	min-height: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 
}
 
.lot-page_information {
	padding: 0; 
	margin: 0 auto; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	-ms-justify-content: flex-start; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: flex-start; 
	-ms-align-content: flex-start;
} 

.lot-page_images-window{
	padding: 0; 
	margin: 0 auto; 
}

.lot-page_main-image-window {
	border: 1px solid rgb(220, 220, 220); 
	margin: auto; 
}

.lot-page_main-image-window:hover {
	padding: 0; 
	border: 1px solid rgb(150, 150, 150); 
	border-radius: 3px; 
}

.lot-page_main-image {
	margin: auto;
	padding: 0; 
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 800px;
	text-align: center;
}

.lot-page_image-preview-window {
	padding: 0; 
	margin: 20px auto auto 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	-ms-justify-content: flex-start; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: flex-start; 
	-ms-align-content: flex-start;
} 

.lot-page_image-preview {
	border: 1px solid rgb(220, 220, 220); 
	margin: auto; 
}

.lot-page_image-preview:hover {
	padding: 0; 
	border: 1px solid rgb(150, 150, 150); 
	border-radius: 3px;	
	cursor: pointer; 
} 

.lot-page_image-preview_image {
	margin: auto;
	padding: 0; 
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 150px;
	text-align: center;
}

.lot-page_lot-information {
	padding: 0; 
	margin: 0 auto; 
	width: 40%; 
	vertical-align: top; 
}

.lot-page_miscellaneous-text {
	padding: 0; 
	margin: 5px 0; 	
}

.lot-page_starting-price, 
.lot-page_сountry-of-origin, 
.lot-page_year-of-manufacture, 
.lot-page_material {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
} 

.lot-page_timer {
	padding: 0; 
	margin: 5px 0; 
	line-height: 2.2em; 
	height: 40px; 
	width: 140px; 
	text-align: center; 
	font-size: 1.2em; 
	font-weight: bold; 
	color: rgb(252,138,21); 
	border: 1px solid rgb(50,50,50); 
	border-radius: 3px; 
}

.lot-page_place-a-bet {
	padding: 0; 
	margin: 0; 
	width: 40px;
}

.lot-page_enter-price {
	height: 38px; 
	width: 140px;
	text-align: left; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 0 5px 5px 0;
	padding: 0 0 0 8px;	
} 

.lot-page_enter-price:focus {
	border-color: rgb(30, 30, 30); 
}

.button_place-a-bet {
	margin: auto 0 auto auto; 
}


.user_create-lot {
	width: 100%; 
	height: auto; 
	min-height: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 	
}

.user_create-lot_information {
	padding: 0; 
	margin: 20px auto 20px 20px; 
}

.user_create-lot_type, 
.user_create-lot_age {
	height: 40px; 
	width: 30%; 
	border: 1px solid rgb(221, 221, 221); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px;
	font-size: 1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	text-align: left; 
	color: rgb(51,51,51); 
	margin: 20px 5px 20px 0;
	padding: 0 0 0 8px;
} 

.user_create-lot_type:hover, 
.user_create-lot_age:hover {
	cursor: pointer;
}

.user_create-lot_type:focus, 
.user_create-lot_age:focus {
	border-color: rgb(120, 120, 120); 
} 

.user_create-lot_title, 
.user_create-lot_description, 
.user_create-lot_country-of-origin, 
.user_create-lot_country-of-origin_data, 
.user_create-lot_material, 
.user_create-lot_material_data, 
.user_create-lot_starting-price, 
.user_create-lot_auction-time {
	height: 38px; 
	width: 40%;
	text-align: left; 
	border: 1px solid rgb(120, 120, 120); 
	background-color: rgb(255, 255, 255); 
	border-radius: 3px; 	
	font-size: 1.1em;
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	color: rgb(46, 46, 46);
	margin: 20px 0;
	padding: 0 0 0 8px;
} 

.user_create-lot_description:focus, 
.user_create-lot_country-of-origin:focus, 
.user_create-lot_material:focus, 
.user_create-lot_starting-price:focus, 
.user_create-lot_auction-time:focus {
	-webkit-appearance: none; 
	appearance: none; 
	outline: none; 
	border-color: rgb(30, 30, 30); 
}

.user_create-lot_add-images {
	position: relative; 
}

.download-image {
	position: absolute; 
	left: -9999px; 
} 

.download-image_wrapper {
	height: 38px; 
	width: 30%; 
	text-align: center; 
	margin: 0; 
	box-sizing: border-box; 
	color: rgb(100, 100, 100);
	border: 1px solid rgb(160, 160, 160); 
	border-radius: 5px; 
	background-color: rgb(255, 255, 255);
	padding: 0; 
	margin: 20px 0; 
	font-size: 1.0em; 
	font-weight: bold; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
}

.download-image_wrapper:hover {
	border: 1px solid rgb(120, 120, 120); 
	color: black;
	padding: 1% auto 1% auto;
	background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(210, 210, 210)); 
	cursor: pointer; 
} 

.download-image_wrapper:active {
	border: 1px solid rgb(90, 90, 90); 
	border-top: 1px solid rgb(40, 40, 40); 
	border-left: 1px solid rgb(40, 40, 40); 
	color: black;
	padding: 1% auto 1% auto;
	background-image: linear-gradient(to bottom right, rgb(230, 230, 230), rgb(150, 150, 150)); 
	cursor: pointer; 
}

.user_create-lot_type_container, 
.user_create-lot_description_container, 
.user_create-lot_country-of-origin_container, 
.user_create-lot_age_container, 
.user_create-lot_material_container, 
.user_create-lot_starting-price_container, 
.user_create-lot_auction-time_container, 
.user_create-lot_add-images 
{
	margin: 20px; 
	border-bottom: 2px solid rgb(140, 140, 140); 
}

.user-new-lot-issues {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	padding: 0; 
	width: 400px; 
	height: 270px; 
	border: 1px solid rgb(204, 204, 204); 
	background-color: rgb(255, 255, 255); 
	border-radius: 4px; 
}

.user-new-lot-issues_message_wraper {
	margin: 20px 10px; 
	border: 1.5px solid rgb(232, 118, 21);
	border-radius: 6px; 
	width: auto; 
	min-width: 80% ;
	min-height: 50%; 
	max-height: 50%; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.user-new-lot-issues_message {
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.4em; 
	text-align: center; 
	font-weight: bold; 
	color: rgb(50, 50, 50); 
}

.user-new-lot-issues_button_wraper {
	margin: auto 0 10px 0;
	min-height: 30%;
	max-height: 100%;
	display: flex; 
	display: -ms-flex; 
	display: flexbox;  
	justify-content: space-around; 
	-ms-justify-content: space-around; 
	align-items: flex-end;
	-ms-align-items: flex-end; 
	align-content: flex-end; 
	-ms-align-content: flex-end;
} 

.user-lot_preview {
	width: 250px; 
	height: 150px; 
	margin: 20px; 
	padding: 0 0 0 5px; 
	background-color: rgb(255, 255, 255); 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: flex-start; 
	-ms-align-content: flex-start;
	border-right: 1px solid rgb(190, 190, 190); 
	border-left: 1px solid rgb(190, 190, 190); 
} 

.user-lot_preview:hover {
	padding: 0 0 0 1px; 
	border-left: 5px solid rgb(0, 147, 120); 
}

.user_lot_image-window {
	padding: 1px; 
	margin: 0 15px 0 5px; 
} 

.user_lot_image-window:hover {
	padding: 0; 
	border: 1px solid rgb(220, 220, 220); 
	border-radius: 3px; 
}

.user_lot_lot-image {
	margin: auto;
	padding: 0; 
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 150px;
	text-align: center;
}

.user_lot-information {
	padding: 0; 
	margin: 0 5px 0 0; 
	vertical-align: top; 
}

.user_lot-information_title{
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.0em; 
} 

.user_lot-information_status {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
} 

.user_lot-information_status_wrapper {
	padding: 0; 
	margin: 0 5px 0 0; 
	vertical-align: top; 
	width: 100px; 
	height: 45px; 
	border-radius: 5px; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}


.auction {
	width: 100%; 
	height: auto; 
	min-height: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 	
} 

.auction_participants {
	margin: 20px; 
	border-bottom: 2px solid rgb(140, 140, 140); 
	text-align: center; 
}

.auction_participant {
	font-size: 1.2em; 
	margin: 20px auto; 
	width: 600px; 
	height: 50px; 
	border-radius: 5px; 
	background-color: rgb(200, 200, 200); 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
}

.auction_participant_name {
	margin-left: 10px; 
	text-align: left; 
}

.auction_participant_bet {
	margin-right: 10px; 
	height: 35px; 
	width: 200px; 
	border-radius: 5px; 
	background-color: rgb(60, 227, 200); 
	text-align: center; 
}

.auction_participant_bet {
	margin: 0; 
	padding: 0; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
}

.auction_participant_bet_container {
	margin: 0; 
	padding: 0; 
}


.search-results {
	width: 100%; 
	padding: 0; 
	margin: 0 auto; 
	background-color: rgb(246, 246, 246); 	
} 

.search-results_container {
	margin: 20px; 
	padding: 0; 
	border-top: 2px solid rgb(140, 140, 140); 
	border-bottom: 2px solid rgb(140, 140, 140); 
	text-align: center; 
}

.search-result {
	width: 80%; 
	height: 100px; 
	margin: 20px auto; 
	padding: 0 0 0 5px; 
	background-color: rgb(255, 255, 255); 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: space-between; 
	-ms-justify-content: space-between; 
	align-items: flex-start;
	-ms-align-items: flex-start; 
	align-content: flex-start; 
	-ms-align-content: flex-start;
	border-right: 1px solid rgb(190, 190, 190); 
	border-left: 1px solid rgb(190, 190, 190); 
} 

.search-result:hover {
	padding: 0 0 0 1px; 
	border-left: 5px solid rgb(0, 147, 120); 
}

.search-result_lot_image-window {
	padding: 1px; 
	margin: 0 15px 0 5px; 
} 

.search-result_lot_image-window:hover {
	padding: 0; 
	border: 1px solid rgb(220, 220, 220); 
	border-radius: 3px; 
}

.search-result_lot-image {
	margin: auto;
	padding: 0; 
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100px;
	text-align: center;
}
					
.search-result_lot-information {
	padding: 0; 
	margin: 0 5px 0 0; 
	vertical-align: top; 
	text-align: left;
}

.search-result_lot-information_description {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
}
 					
.search-result_lot_starting-price {
	padding: 0; 
	margin: 5px 0; 
	font-size: 1.2em; 
	font-weight: bold; 
}

.search-result_lot_timer_wrapper {
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 30%; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 
	-ms-align-content: center;
}

.search-result_lot_timer {
	padding: 0; 
	margin: 5px 0; 
	line-height: 2.2em; 
	height: 40px; 
	width: 100px; 
	text-align: center; 
	font-size: 1.2em; 
	font-weight: bold; 
	color: rgb(252,138,21); 
	border: 1px solid rgb(50,50,50); 
	border-radius: 3px; 
}


.footer {
	border-top: 2.0px solid rgb(252,138,21); 
	background-color: rgb(210, 210, 210); 	
	padding: 0; 
	margin: 0; 
	height: 100px;
	width: 100%; 
} 

.footer_socials {
	padding: 0; 
	margin: 30px 50px auto auto; 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: flex-end; 
	-ms-justify-content: flex-end; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
} 

.footer_socials_wrap {
	padding: 0; 
	margin: -0.5px;
	width: 75px; 
	height: 35px; 
	border-right: 0.5px solid rgb(90, 90, 90); 
	border-left: 0.5px solid rgb(90, 90, 90); 
	display: flex; 
	display: -ms-flex; 
	display: flexbox; 
	flex-wrap: wrap; 
	justify-content: center; 
	-ms-justify-content: center; 
	align-items: center;
	-ms-align-items: center; 
	align-content: center; 	
	-ms-align-content: center;
}

.footer_socials_facebook, 
.footer_socials_instagram, 
.footer_socials_linkedin, 
.footer_socials_twitter {
	padding: 0; 
	margin: 0; 
	width: 44px; 
	height: 44px; 
	border-radius: 16px; 
	background-repeat: no-repeat; 
	background-position: center;
} 

.footer_socials_facebook {
	background-image: url(../images/Social_networks/Facebook_1.png); 
}

.footer_socials_facebook:hover, 
.footer_socials_facebook:active {
	background-image: url(../images/Social_networks/Facebook_2.png); 
} 

.footer_socials_instagram {
	background-image: url(../images/Social_networks/Instagram_1.png); 
}

.footer_socials_instagram:hover, 
.footer_socials_instagram:active {
	background-image: url(../images/Social_networks/Instagram_2.png); 
}

.footer_socials_linkedin {
	background-image: url(../images/Social_networks/Linkedin_1.png); 
}

.footer_socials_linkedin:hover, 
.footer_socials_linkedin:active {
	background-image: url(../images/Social_networks/Linkedin_2.png); 
}

.footer_socials_twitter {
	background-image: url(../images/Social_networks/Twitter_1.png); 
}

.footer_socials_twitter:hover, 
.footer_socials_twitter:active {
	background-image: url(../images/Social_networks/Twitter_2.png); 
}

.footer_socials_facebook:hover, 
.footer_socials_instagram:hover, 
.footer_socials_linkedin:hover, 
.footer_socials_twitter:hover {
	cursor: pointer; 
} 

.footer_socials_facebook:active, 
.footer_socials_instagram:active, 
.footer_socials_linkedin:active, 
.footer_socials_twitter:active {
	width: 43px; 
	height: 43px; 
	border-top: 2px solid rgb(80, 80, 80); 
	border-left: 2px solid rgb(100, 100, 100); 
	cursor: pointer; 
}

.footer_socials_facebook-link:link, 
.footer_socials_instagram-link:link, 
.footer_socials_linkedin-link:link, 
.footer_socials_twitter-link:link, 
.footer_socials_facebook-link:visited, 
.footer_socials_instagram-link:visited, 
.footer_socials_linkedin-link:visited, 
.footer_socials_twitter-link:visited, 
.footer_socials_facebook-link:active, 
.footer_socials_instagram-link:active, 
.footer_socials_linkedin-link:active, 
.footer_socials_twitter-link:active {
	border: none; 
	outline: none; 
	cursor: pointer; 
}

 
.heading_1 {
	margin: 40px; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 2.6em; 
	text-align: left; 
	font-weight: bold; 
	color: rgb(0, 147, 120); 
}

.heading_2 {
	margin: 20px; 
	font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
	font-size: 1.6em; 
	text-align: left; 
	font-weight: bold; 
	color: rgb(0, 197, 170); 
} 

.miscellaneous-text {
	padding: 0; 
	margin: 5px 0; 	
}


.display-visible {
	z-index: 100; 
}

.display-hidden {
	position: absolute; 
	overflow: hidden; 
	z-index: 10; 
	top: -9999px; 
	left: -9999px; 
} 

.preview_display-hidden {
	position: absolute; 
	overflow: hidden; 
	z-index: 10; 
	top: -9999px; 
	left: -9999px; 
} 